html{
    scroll-behavior: smooth;
 }
 

nav, h1, h5{

    font-family: 'Barlow', sans-serif;

}


.container-1{

    background: url('../imagens/fundo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 36em;
   
  }
  
